click==7.1.2
cycler==0.10.0
Flask==1.1.2
Flask-SocketIO==4.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
kneed==0.6.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.4
paho-mqtt==1.5.0
pandas==1.0.3
pathtools==0.1.2
patsy==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.14.0
statsmodels==0.11.1
threadpoolctl==2.0.0
watchdog==0.10.2
Werkzeug==1.0.1
